{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>Om kursen MVC</h1>
<p>I kursen mvc så ska jag lära mig hur jag utvecklar webbapplikationer med hjälp av ramverket Symfony. Kursen kommer också att behandla hur man programmerar objektorienterat och med klasser inom PHP och webbteknologier.</p>

<p>Syftet med kursen är att jag ska kunna få ihop en webbapplikation tillsammans med objektorienterad PHP i ramverket Symfony. Ta till mig av mina tidigare kunskaper från tidigare kurser och kursmoment och sedan att få en bra grund för att kunna fortsätta utveckla och programmera i ramverk.</p>


<img src="img/mvc-bild.jpg" width="300px" alt="mvc-bild">
<br>
<a href="https://github.com/dbwebb-se/mvc">Länk till kursrepot mvc</a>
{% endblock %}
