<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <div class="header">
        <div class="header-photo"></div>
        </div>

        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="{{ url("home") }}">Home</a></li>
                    <li><a href="{{ path("about") }}">About</a></li>
                    <li><a href="{{ path("report") }}">Report</a></li
                </ul>
            </nav>
        </div>
        <hr>


        {% block content %}
        Default content
        {% endblock %}
        <hr>
        <div class="sitefooter">
            <a href="https://github.com/sodo0005/mvc">Länk till Github Repot</a>
            © Sodo21
        </div>

    </body>
</html>
