{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{% block content %}
<h1>Home</h1>

<p class="important">
Welcome to my awesome homepage.
<img src="img/sodo.png" width="200px" alt="sodo">
</p>

<p><a href="{{ absolute_url("img/sodo.png") }}">View the image</a></p>

{% endblock %}
