{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{% block content %}
<h1>Home</h1>

<h2>Välkommen till min hemsida i kursen MVC!</h2>
<p>Mitt namn är Sophie och jag bor nu i Bromma, nära Stockholm tillsammans med
min sambo och våra två katter.</p>

<p>Jag är uppväxt på landet men har alltid velat vara där det är mer action.
Därför åkte jag på egenhand till Japan år 2013 direkt efter gymnasiet och bosatte mig i Tokyo i två år.
I Tokyo pluggade jag japanska och jobbade samtidigt. Språk är något jag alltid varit intresserad av så varför inte även försöka lära sig programmeringsspråk också? ;)</p>

Jag går Webbprogrammering 120p på distans hos BTH och jag ser fram emot att lära mig nya saker under min tid här!

På sidan om studierna försöker jag komma igång med mitt egna företag då jag strävar efter att vara min egna boss en dag hehe

På fritiden gillar jag att spela sällskapsspel, läsa böcker, träna och lära mig om kryptovalutor och börsen.</p>
<br>
<img src="img/sodo.png" width="300px" alt="sodo">
</p>

<p><a href="{{ absolute_url("img/sodo.png") }}">Klicka för att se bilden</a></p>

{% endblock %}
